<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nos responsive website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="navbar">
    <img class="logo" src="img/logo.svg" alt="logo">
    <ul class="nav-links">
        <li class="nav-item">
            <a class="nav-link active" href="#">Nieuws</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Uitzendingen</a>
        </li>
    </ul>

    <div class="icons">
        <img class="icon-big" src="img/weather.png" alt="weather">
        <img class="icon-search" src="img/search.png" alt="search">
        <img class="icon-big" src="img/npo-start.png" alt="npo-start">
        <img class="icon-dots" src="img/menu-dots.png" alt="menu-dots">
    </div>
</div>

<div class="layout">
    <div class="main-articles">
        <div class="main-item main1">
            <img src="img/1.jpg" alt="">
            <h3>Morgen bijna nergens NS-treinen, kritiek op laat besluit</h3>
        </div>

        <div class="main-item main2">
            <img src="img/2.jpg" alt="">
            <h3>Meer werken, beter loon en keuzes maken: zijn dat oplossingen voor personeelstekort?</h3>
            <div class="main2-header">Meer werken, beter loon en keuzes maken: zijn dat oplossingen voor personeelstekort?</div>
            <p>De krapte is zo erg, dat er volgens deskundigen radicale keuzes moeten worden gemaakt.</p>
        </div>
    </div>

    <div class="news-articles">
        <div class="article n1">
            <img src="img/3.jpg" alt="">
            <h3>Dit zijn de uitdagingen waar de opvolger van Johnson straks voor komt te staan</h3>
            <p>Over precies een week horen de Britten wie hun nieuwe premier wordt.</p>
        </div>

        <div class="article n2">
            <img src="img/4.jpg" alt="">
            <h3>Geen Russisch gas meer via Nord Stream 1 'vanwege onderhoud'</h3>
            <p>Volgens het Russische staatsbedrijf Gazprom stroomt zaterdag weer gas door de belangrijke pijpleiding.</p>
        </div>

        <div class="article n3">
            <img src="img/5.jpg" alt="">
            <h3>Rechtbank: Halsema had klimaatdemonstranten niet in bussen mogen zetten</h3>
            <p>De rechter in Amsterdam boog zich over een actie van Extinction Rebellion in 2020 op de Zuidas.</p>
        </div>

        <div class="article n4">
            <img src="img/6.jpg" alt="">
            <h3>Ajax heeft opvolger Antony dan toch binnen: Ocampos gehuurd van Sevilla</h3>
            <p>De buitenspeler en tienvoudig international van Argentinië was een dag eerder persoonlijk al rond met Ajax.</p>
        </div>

        <div class="article n5">
            <img src="img/7.jpg" alt="">
            <h3>Thaise youtuber gezocht vanwege miljoenenoplichting fans</h3>
            <p>Suchata Kongsupachak zou haar volgers voor omgerekend zo'n 54 miljoen euro hebben opgelicht.</p>
        </div>

        <div class="article n6">
            <img src="img/8.jpg" alt="">
            <h3>Te weinig geld voor schoolspullen? Ouders vragen vaker om financiële hulp</h3>
            <p>Het Jeugdeducatiefonds wil dat het kabinet scholen te hulp schiet.</p>
        </div>

        <div class="article n7">
            <img src="img/9.jpg" alt="">
            <h3>Ricciardo praat over stroopwafels, terwijl Leclerc de titel langzaam opgeeft</h3>
            <p>Met een achterstand van 98 punten op Max Verstappen begint Ferrari-coureur Charles Leclerc aan de Formule 1 GP van Nederland.</p>
        </div>

        <div class="article n8">
            <img src="img/10.jpg" alt="">
            <h3>Problemen binnen vve's hinderen verduurzaming Nederlandse woningen</h3>
            <p>Serieus werk maken van energiebesparing blijkt voor woningen binnen een vve niet altijd makkelijk.</p>
        </div>
    </div>
</div>
</body>
</html>
