<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nos responsive website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="navbar">
        <img class="logo" src="img/logo.svg" alt="logo">
        <ul class="nav-links">
            <li class="nav-item">
                <a class="active" href="#">Nieuws</a>
            </li>
            <li class="nav-item">
                <a href="#">Sport</a>
            </li>
            <li class="nav-item">
                <a href="#">Uitzendingen</a>
            </li>
        </ul>

        <div class="icons">
            <img src="img/weather.png" alt="weather">
            <img src="img/search.png" alt="search">
            <img src="img/npo-start.png" alt="npo-start">
            <img src="img/menu-dots.png" alt="menu-dots">
        </div>
    </div>

    <section class="main-articles">
        <div class="main-item">
            <img src="img/1.jpg" alt="">
            <h3>Morgen bijna nergens NS-treinen, kritiek op laat besluit</h3>
        </div>

        <div class="main-item">
            <img src="img/2.jpg" alt="">
            <h3>Meer werken, beter loon en keuzes maken: zijn dat oplossingen voor personeelstekort?</h3>
        </div>
    </section>

    <section class="news-articles">
        <div class="article">
            <img src="img/3.jpg" alt="">
            <h3>Dit zijn de uitdagingen waar de opvolger van Johnson straks voor komt te staan</h3>
            <div class="text-container">
                <p>Over precies een week horen de Britten wie hun nieuwe premier wordt.</p>
            </div>
        </div>

        <div class="article">
            <img src="img/4.jpg" alt="">
            <h3>Geen Russisch gas meer via Nord Stream 1 'vanwege onderhoud'</h3>
            <p>Volgens het Russische staatsbedrijf Gazprom stroomt zaterdag weer gas door de belangrijke pijpleiding.
            </p>
        </div>

        <div class="article">
            <img src="img/5.jpg" alt="">
            <h3>Rechtbank: Halsema had klimaatdemonstranten niet in bussen mogen zetten</h3>
            <p>De rechter in Amsterdam boog zich over een actie van Extinction Rebellion in 2020 op de Zuidas.
                Demonstranten
                lijmden
                zich toen aan een kruispunt vast.</p>
        </div>

        <div class="article">
            <img src="img/6.jpg" alt="">
            <h3>Ajax heeft opvolger Antony dan toch binnen: Ocampos gehuurd van Sevilla</h3>
            <p>De buitenspeler en tienvoudig international van Argentinië was een dag eerder persoonlijk al rond met
                Ajax,
                dat hem
                het liefst had gekocht in plaats van gehuurd.</p>
        </div>

        <div class="article">
            <img src="img/7.jpg" alt="">
            <h3>Thaise youtuber gezocht vanwege miljoenenoplichting fans</h3>
            <p>Suchata Kongsupachak zou haar volgers voor omgerekend zo'n 54 miljoen euro hebben opgelicht. Naar
                verluidt is
                ze naar
                buurland Maleisië gevlucht.</p>
        </div>

        <div class="article">
            <img src="img/8.jpg" alt="">
            <h3>Te weinig geld voor schoolspullen? Ouders vragen vaker om financiële hulp</h3>
            <p>Het Jeugdeducatiefonds wil dat het kabinet scholen te hulp schiet.</p>
        </div>

        <div class="article">
            <img src="img/9.jpg" alt="">
            <h3>Ricciardo praat over stroopwafels, terwijl Leclerc de titel langzaam opgeeft</h3>
            <p>Met een achterstand van 98 punten op Max Verstappen begint Ferrari-coureur Charles Leclerc aan de
                Formule 1
                GP van
                Nederland. De kans dat hij Verstappen nog achterhaalt, acht hij bijzonder klein.</p>
        </div>

        <div class="article">
            <img src="img/10.jpg" alt="">
            <h3>Problemen binnen vve's hinderen verduurzaming Nederlandse woningen</h3>
            <p>Serieus werk maken van energiebesparing blijkt voor woningen binnen een vve niet altijd makkelijk. Want
                wanneer is
                iedereen het met elkaar eens?</p>
        </div>
    </section>
</body>

</html>