:root {
    --nos-red: #E61E14;
    --nos-grey: #555;
    --nos-dark-grey: #2F2F2F;
    --nos-light-grey: #DDD;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px var(--nos-light-grey);
}

.navbar .logo {
    margin-left: 10%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-item a {
    text-decoration: none;
    color: var(--nos-dark-grey);
}

.nav-item .active {
    color: var(--nos-red);
}

.icons {
    margin-left: auto;
    margin-right: 10%;
}

.icons img {
    margin: 1rem;
}

.layout {
    margin-inline: 10%;
    display: grid;
    gap: 20px;
}

.main2 h3 {
    display: none;
}

.main2-header {
    grid-area: 2;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
    unicode-bidi: isolate;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 6px;
    color: #000;
}

@media (min-width: 1024px) {
    .layout {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "main1 main1 main2 main2"
            "n1 n2 n3 n4"
            "n5 n6 n7 n8";
    }

    .main2 h3 {
        display: block;
    }

    .main2 p, .main2-header {
        display: none;
    }

    .main-articles, .news-articles {
        display: contents;
    }
}

@media (max-width: 1023px) {
    .main1 {
        width: calc(100% + 30%);
        margin-left: -15%;
        margin-right: -15%;
    }

    .main1 h3 {
        margin: auto;
    }

    .main-item h3 {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .layout {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "main1 main1 main1"
            "main2 n1 n2"
            "n3 n4 n5"
            "n6 n7 n8";
    }

    .main2 p {
        display: block;
        color: var(--nos-dark-grey);
        font-size: 0.95rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: clip;
    }

    .main-articles, .news-articles {
        display: contents;
    }

    .nav-link:not(.active) {
        display: none;
    }

    .icons .icon-big {
        display: none;
    }
}

@media (max-width: 767px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "main1 main1"
            "main2 n1"
            "n2 n3"
            "n4 n5"
            "n6 n7"
            "n8 n8";
    }

    .main-articles, .news-articles {
        display: contents;
    }

    .nav-link:not(.active) {
        display: none;
    }

    .icons .icon-big, .icons .icon-search {
        display: none;
    }
}

.main1 { grid-area: main1; }
.main2 { grid-area: main2; }

.n1 { grid-area: n1; }
.n2 { grid-area: n2; }
.n3 { grid-area: n3; }
.n4 { grid-area: n4; }
.n5 { grid-area: n5; }
.n6 { grid-area: n6; }
.n7 { grid-area: n7; }
.n8 { grid-area: n8; }

.main-item img,
.article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 1/0.5;
    object-fit: cover;
}

.main-item h3,
.article h3 {
    margin-top: 5px;
}

.main-item {
    display: grid;
}

.main-item img,
.main-item h3 {
    grid-area: 1 / 1 / 2 / 2;
}

.main-item h3 {
    place-self: end;
    color: white;
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 0;
}

.article p {
    color: var(--nos-dark-grey);
    font-size: 0.95rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
}
